
@import "styles/base.scss";

.post {
  padding: 2rem;
  margin-bottom: 2rem;
}

.more-btn {
  margin: 0.5rem 0;
  float: left;
}

.write-btn {
  float: right;
  margin-right: 2rem;
}
.liked {
  font-weight: 900 !important;
  color:red;
}
.ali-left {
  margin-left: 35%;
}
.fas.fa-comment.ali-left.btn.btn-secondary {
  background-color: transparent;
  color: black;
  border: none;
}